<h1>Welcome to Good Eats</h1>
<h2>Login to view recipes and add them to your favorites </h2>

<form action="/" method="POST">
    <h1>Login</h1>
    <div class="login-text">
        <input type="text" placeholder="Email" name="email" required>
    </div>
    <div class="login-text">
        <input type="password" placeholder="password" name="password" required>
    </div>
    <input type="submit" class="loginBtn" value="Login">
    <a href="/register">Create an account</a>
</form>