<div class="loginHome">
    <form class="login-form" action="/register" method="POST">
        <h1>Sign up</h1>
        <div class="txtb">
            <input type="text" placeholder="First Name" name="fName" required>
        </div>
        <div class="txtb">
            <input type="text" placeholder="Last Name" name="lName" required>
        </div>
        <div class="txtb">
            <input type="text" placeholder="Email" name="email" required>
        </div>
        <div class="txtb">
            <input type="password" placeholder="password" name="password" required>
        </div>
        <input type="submit" class="logBtn" value="Register">
    </form>

</div>




