
<h1 class="homeTitle">Welcome to good eats, home of the good eats!</h1>

  <div class='home1'>
    <form class="search" method="GET" action="/recipes/results">
        <button type="submit">Check out our top recipes</button>
      </form>
  </div>

  <div class="home2">
    <form class="search" method="GET" action="/recipes/ingredient">
      <div class="divTxt2">
        <input class="inputSearch" type="text" name="ingredient" required autocomplete="off" placeholder="Search by ingredient">
      </div>      
      <button type="submit">Search</button>
    </form>
  </div>



  


