

  <h1>Welcome to good eats, home of the good eats!</h1>

  <div class='home1'>
    <form class="search" method="GET" action="/recipes/results">
      <div class="divTxt1">
        <input class="inputSearch" type="text" name="name" placeholder="Search by name">
      </div>
        <button type="submit">Search</button>
      </form>
  </div>

  <div class="home2">
    <form class="search" method="GET" action="/recipes/ingredient">
      <div class="divTxt2">
        <input class="inputSearch" type="text" name="ingredient" placeholder="Search by ingredient">
      </div>      
      <button type="submit">Search</button>
    </form>
  </div>



  


