<h1>You added a favorite</h1>


<form  method="GET" action="/recipes">
  <input hidden type="text" id="email" name="email">
  <button class="backBtn">Go back and search for more recipes</button>
</form>

 <div class="container">
    <div class="row justify-content-center">
      <% meals.forEach((meal) => { %>
                <div class="col-4 card-space">
                  <div class="card " style="width: 18rem;">
                    <img src="<%= meal.strMealThumb %>" class="card-img-top" alt="Picture of food">
                    <div class="card-body">
                      <h5 class="card-title"><%= meal.strMeal %></h5>
                      <a href="/recipes/<%= meal.idMeal %>" class="btn btn-primary">View Recipe</a>
                    </div>
                  </div>
                </div>
      <% }) %>
    </div>
  </div>





  <% if (!locals.email) { %>
    <script>
        let currentUser = localStorage.getItem('user')
        document.getElementById('userInput').value = currentUser
        console.log(`User logged in: ${currentUser}`)
        document.getElementById("email").value= currentUser
    </script>
 <% } else { %>
 
    <script>
        if (!localStorage.getItem('user')) {
            let user = "<%- email %>"
            localStorage.setItem('user', user)
        }
        
        let currentUser = localStorage.getItem('user')
        console.log(`User logged in: ${currentUser}`)
        document.getElementById('email').value= currentUser
        document.getElementById('userInput').value = currentUser
    </script>
 <% } %>
 