<h1>List of meals by ingredient</h1>
<ul>
   <% meals.forEach((meal) => { %>
    <img src="<%= meal.strMealThumb %>" alt="">
    <li>
       <%= meal.strMeal %>
       <a href="/recipes/<%= meal.idMeal %>">View meal details here</a>
    </li> 
    <% }) %>
</ul>


